*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

:root{

    --main-color:#F7F7F7;
    --button:#2F0D0C;
    --badge-primary:#2E7AF1;
    --badge-secondary:#0CAF3A;
    --last-badge:#ED4545;
}

html{
    font-size: 62.5%;
}



 .container{
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 3rem;
}

.order-section{
   padding: 1rem 1rem;
   width: 100%;
   display: grid;
   grid-template-columns: 1fr;
}
.account-content{
    width: 100%;
    max-width: 300px;
    background-color: var(--main-color);
    height: fit-content;
    padding: 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    border-radius: 10px;
    margin-left: 1rem;
}
.account-user{
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}
.first-user{
    justify-content: space-between;
}
.account-icon{
    font-size: 2rem;
    margin-left: 1rem;
}
.second-info-icone{
    font-size: 1.5rem;
}
.account-user p{
    font-size: 1.5rem;
    font-weight: 700;
}
.info{
    display: flex;
}
.number-text{
    color: #504f4f;
}

.account-button{
    display: flex;
    justify-content: center;
    background-color: #2F0D0C;
    color: #F7F7F7;
    border-radius: 10px;
}

.message-badge{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:10rem ;
    width: 25px;
    height: 25px;
    background-color: #ED4545;
    border-radius: 50%;
    color: #F7F7F7;
    font-size: 1.5rem;
}

@media(min-width:768px){
    .order-section{
        display: grid;
        grid-template-areas:
         "ordercontent accountcontent"
        ;
        grid-template-columns:30fr 70fr ;
    }
    .account-content{
        grid-area:ordercontent;
    }
    .order-content{
        grid-area:accountcontent ;
    }
}